.facebook {
  background: url(sprite-social.png) 0px 0px no-repeat;
  display: block;
  width: 40px;
  height: 40px;
}

.google-plus {
  background: url(sprite-social.png) -42px 0px no-repeat;
  display: block;
  width: 40px;
  height: 40px;
}

.twitter {
  background: url(sprite-social.png) 0px -42px no-repeat;
  display: block;
  width: 40px;
  height: 40px;
}